:root {
    --orange-050: #ffe8d9;
    --orange-100: #ffd0b5;
    --orange-200: #ffb088;
    --orange-300: #ff9466;
    --orange-400: #f9703e;
    --orange-500: #f35627;
    --orange-600: #de3a11;
    --orange-700: #c52707;
    --orange-800: #ad1d07;
    --orange-900: #841003;
}
html {
    font-size: 150%; 
    font-weight: 300;
    font-family: "Roboto", Helvetica,Arial, Helvetica, sans-serif;
    line-height: 1.4;/* 1rem = 16px */
}
body {
    display: flex;
    background-image: linear-gradient(236de);
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator {
   box-shadow:  0 0 25px 0 rgb(0, 0, 0); 
}
.calculator_display {
    background-color: var(--grey-900);
    color : var(--grey-050);
    width: 16.25rem;
    padding: 0.75rem 1rem;
    text-align: right;
    font-size: calc( 1rem * 1.2  * 1.2); /* calc bach ikbar font 3la 7ssab kola ecran (responsive) */
} 
.calculator_keys {
   background-color: pink;
   display: grid;
}
